{% extends "home/base.html" %}

{% block body %}


        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="ttm-page-title-row-inner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="page-title-heading">
                                <h2 class="title">Research</h2>
                            </div>
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="index.html">Home</a>
                                </span>
                                <span>Research</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
        </div><!-- page-title end-->


    <!--site-main start-->
    <div class="site-main">

        <section class="ttm-row grid-section clearfix">
            <div class="container">
                <div class="row multi-columns-row ttm-boxes-spacing-15px">
                    <div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio ttm-portfolio-box-view2">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="#"> <img class="img-fluid" src="/static/images/portfolio/01.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="Fitness Guidance to Patient" data-rel="prettyPhoto" href="/static/images/portfolio/01.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="/single_project" class="ttm_link"><i class="ti ti-link"></i></a>
                                </div>
                                <span class="category"></span>
                            </div><!-- ttm-box-view-overlay end-->
                            <div class="ttm-box-view-content-inner">
                                <div class="featured-content featured-content-portfolio">
                                    <div class="featured-title">
                                        <h5><a href="/single_project">Water Testing</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div><!-- featured-imagebox -->
                    </div>
                    <div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio ttm-portfolio-box-view2">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="#"> <img class="img-fluid" src="/static/images/portfolio/02.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="Diagnostic Imagine" data-rel="prettyPhoto" href="/static/images/portfolio/02.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="/single_project" class="ttm_link"><i class="ti ti-link"></i></a>
                                </div>
                                <span class="category"></span>
                            </div><!-- ttm-box-view-overlay end-->
                            <div class="ttm-box-view-content-inner">
                                <div class="featured-content featured-content-portfolio">
                                    <div class="featured-title">
                                        <h5><a href="/single_project">Diagnostic Imagine</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div><!-- featured-imagebox -->
                    </div>
                    <div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio ttm-portfolio-box-view2">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="#"> <img class="img-fluid" src="/static/images/portfolio/03.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="Orthodontics Surgery" data-rel="prettyPhoto" href="/static/images/portfolio/03.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="/single_project" class="ttm_link"><i class="ti ti-link"></i></a>
                                </div>
                                <span class="category"></span>
                            </div><!-- ttm-box-view-overlay end-->
                            <div class="ttm-box-view-content-inner">
                                <div class="featured-content featured-content-portfolio">
                                    <div class="featured-title">
                                        <h5><a href="/single_project">Orthodontics Surgery</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div><!-- featured-imagebox -->
                    </div>
                    <div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio ttm-portfolio-box-view2">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="#"> <img class="img-fluid" src="/static/images/portfolio/04.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="Rehabilitation Center" data-rel="prettyPhoto" href="/static/images/portfolio/04.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="/single_project" class="ttm_link"><i class="ti ti-link"></i></a>
                                </div>
                                <span class="category"></span>
                            </div><!-- ttm-box-view-overlay end-->
                            <div class="featured-content featured-content-portfolio">
                                <div class="featured-title">
                                    <h5><a href="/single_project">Rehabilitation Center</a></h5>
                                </div>
                            </div>
                        </div><!-- featured-imagebox -->
                    </div>
                    <div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio ttm-portfolio-box-view2">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="#"> <img class="img-fluid" src="/static/images/portfolio/05.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="Blood Pressure Checkup" data-rel="prettyPhoto" href="/static/images/portfolio/05.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="/single_project" class="ttm_link"><i class="ti ti-link"></i></a>
                                </div>
                                <span class="category"></span>
                            </div><!-- ttm-box-view-overlay end-->
                            <div class="featured-content featured-content-portfolio">
                                <div class="featured-title">
                                    <h5><a href="/single_project">Blood Pressure Checkup</a></h5>
                                </div>
                            </div>
                        </div><!-- featured-imagebox -->
                    </div>
                    <div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio ttm-portfolio-box-view2">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="#"> <img class="img-fluid" src="/static/images/portfolio/06.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end -->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="Dentures / Partial Dentures" data-rel="prettyPhoto" href="/static/images/portfolio/06.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="/single_project" class="ttm_link"><i class="ti ti-link"></i></a>
                                </div>
                                <span class="category"></span>
                            </div><!-- ttm-box-view-overlay end-->
                            <div class="featured-content featured-content-portfolio">
                                <div class="featured-title">
                                    <h5><a href="/single_project">Dentures / Partial Dentures</a></h5>
                                </div>
                            </div>
                        </div><!-- featured-imagebox -->
                    </div>
                </div>
            </div>
        </section>
      
    </div><!--site-main end-->


    <!--footer start-->
{% endblock body %}